@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');

main article {
  margin: 0 auto;
  width : 80%;
  margin-top: 5vh;
}
main article section {
  float:left;
  margin-right: 25vw;
}